@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
    * {
      @apply font-[Poppins]
    }
    
  } */
  @layer base {
    * {
      font-family: "Trap";
      overflow-x: hidden;
    }
  }
  
  
  .navlink.active{
    border-bottom: 2px solid #00a14b;
  
  }
  